.choose-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choose-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    font-size: 2rem;
}
