.manage-input {
    width: 90px;
    margin-top: 20px;
}
.manage-Order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 450px) {
    .manage-Order {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
