.home-card {
    margin-top: 40px;
    display: grid;
    margin-left: 265px;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    margin-bottom: 30px;
}
.tasks {
    font-size: 70px;
    font-weight: bold;
}

.card-spinner {
    margin-left: 50%;
    margin-top: 50px;
}

@media only screen and (max-width: 480px) {
    .home-card {
        margin-top: 40px;
        display: grid;
        margin-left: 55px;
        grid-template-columns: repeat(1, 1fr);
    }
}
